# Ketan Shah, UBIT: ketansha
# Ankit Sigroha, UBIT: ankitsig

In [1]:
SALARY_RAISE_FACTOR = 0.05
STATE_CODE_MAP = {'WA': 'Washington', 'TX': 'Texas'}

#defining function for updating employee records
def update_employee_record(rec):
 old_sal = rec['salary']
 new_sal = old_sal * (1 + SALARY_RAISE_FACTOR)
    
 rec['salary'] = new_sal
 state_code = rec['state_code']
    
 rec['state_name'] = STATE_CODE_MAP[state_code]
input_data = [ {'employee_name': 'Susan', 'salary': 100000.0, 'state_code': 'WA'}, {'employee_name': 'Ellen', 'salary': 75000.0, 'state_code': 'TX'},]

for rec in input_data:
 #calling the function we created.
 update_employee_record(rec)
 name = rec['employee_name']
 salary = rec['salary']
 state = rec['state_name']

 #printing the final values
 print (name + ' now lives in ' + state)
 print (' and makes $' + str(salary))

Susan now lives in Washington
 and makes $105000.0
Ellen now lives in Texas
 and makes $78750.0

In [2]:
x=25

def sqr(x):
 "This function just squares its input "
 return x * x

#simple function for squaring the input
y = sqr(x)
print(y)

625

In [4]:
my_list = ["a ", "b ", "c "]

#prints first element in the array my_list
print (my_list[0])

print("-----------------")

# changing that element of the list
my_list[0] = "A " 

# adding new element to the end
my_list.append("d ") 


# The list can have any kind of elements
mixed_list = ["A ", 5.7, "B ", [1,2,3]]

#There is a special operation called a list comprehension, which lets us create
#one list from another by applying the same operation to all of its elements (and
#possibly filtering out some of those elements):
original_list = [1,2,3,4,5,6,7,8]
squares = [x*x for x in original_list]


#printing all elements int he squares list
for x in squares:
 print(x)

a
-----------------
1
4
9
16
25
36
49
64

In [1]:
import pandas as pd
# Making data frame from a dictionary
# that maps column names to their values
df = pd.DataFrame({
"name": ["Bob", "Alex", "Janice"],
"age": [60, 25, 33]
})
# Reading a DataFrame from a file
#other_df = pd.read_csv(“myfile.csv”)
# Making new columns from old ones
# is really easy
df["age_plus_one"] = df["age"] + 1
df["age_times_two"] = 2 * df["age"]
df["age_squared"] = df["age"] * df["age"]
df["over_30"] = (df["age"] > 30) # this col is bools
# The columns have various built-in aggregate functions
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)
# You can select several rows of the DataFrame
# and make a new DataFrame out of them
df_below50 = df[df["age"] < 50]
# Apply a custom function to a column
df["age_squared"] = df["age"].apply(lambda x: x*x)
df = pd.DataFrame({
"name": ["Bob", "Alex", "Jane"],
"age": [60, 25, 33]
})
#print (df.index) # prints 0‐2, the line numbers
# Create a DataFrame containing the same data,
# but where name is the index
df_w_name_as_ind = df.set_index("name")
#print (df_w_name_as_ind.index) # prints their names
# Get the row for Bob
bobs_row = df_w_name_as_ind.ix["Bob"]
print (bobs_row["age"]) # prints 60

60

/home/ketan/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:34: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

#

In [45]:
df_w_age = pd.DataFrame({"name": ["Tom", "Tyrell", "Claire"],"age": [60, 25, 33]})
df_w_height = pd.DataFrame({"name": ["Tom", "Tyrell", "Claire"],"height": [6.2, 4.0, 5.5]})
        
joined = df_w_age.set_index("name").join(
 df_w_height.set_index("name"))

print(joined)

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5

In [53]:
df = pd.DataFrame({"name": ["Tom", "Tyrell", "Claire"],"age": [60, 25, 33],"height": [6.2, 4.0, 5.5],"gender": ["M", "M", "F"]})
    
print (df.groupby("gender").mean())

medians = df.groupby("gender").quantile(0.5)

def agg(ddf):
     return pd.Series({"name": max(ddf["name"]),"oldest": max(ddf["age"]),"mean_height": ddf["height"].mean()})
    
print (df.groupby("gender").apply(agg))

         age  height
gender
F       33.0     5.5
M       42.5     5.1
        mean_height    name  oldest
gender
F               5.5  Claire      33
M               5.1  Tyrell      60